font{
    font-size: 1em;
    color: hsl(0, 0%, 0%);
    font-family: cursive, sans-serif;
}
font3{
    font-size: 1em;
    color: hsl(0, 100%, 50%);
    font-family: Arial, Helvetica, sans-serif;
}
font4{
    font-size: 1em;
    color: hsl(0, 100%, 50%);
    font-style: italic;
}

figure
{
    border: 5px  #c2229a solid;
    width: 200px;
    float: right;
}

figcaption
{
    font-size: 1em;
    background-color: #c2229a;
    text-align: center;
}

figure1
{
    border: 5px  #fae954 solid;
    width: 200px;
}

